body {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.header,
.info,
.quote,
.call-to-action{
    flex: 1;
}

a {
    text-decoration: none;
    color: grey;

}

.header {
    background-color: #1f2937;
    display: flex;
    color: #F9FAF8;
}

.header-title {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
}

.header-info {
    display: flex;
}

.header-child,
.header-img {
    flex: 1;
}

.header-img {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: end;
    padding-bottom: 15px;
}

.monkey-img {
    height: 100%;
    width: auto;
}

.sign-in-button {
    background-color: #3882F6;
    border-radius: 10%;
    color: #F9FAF8;
    padding: 2px 20px;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.info-header {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.info-container {
    display: flex;
    gap: 30px;
}

.info-img,
.text {
    width: 100px;
}

.text {
    text-align: center;
    margin-top: 5px;
}

.info-img {
    border: 2px solid #3882F6;
    height: 100px;
    border-radius: 10%;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.quote-container {
    width: 520px;
}

.author,
.quote-text{
    color: #1f2937;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 0px;
}

.author {
    font-weight: bold;
}

.author-container {
    display: flex;
    justify-content: end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    flex: 0.25;
    color: #F9FAF8;
}